
h1{
    color:white;
    font-family: cursive;
    text-align: right;
}
h3{
    color:white;
}
body{
    font-family:'Indie Flower', cursive;
    background-color:black;
}
.container{
    offset: 677px;
}
